Repository hairyhenderson/dockerhub_ratelimit_exporter, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, build

.github/labeler.yml:

documentation:
- docs/**/*
- docs-src/**/*
- '*.md'

dependencies:
- Gopkg.lock
- Gopkg.toml
- go.mod
- go.sum
- vendor/**/*

build:
- .github/workflows/*
- Makefile

Update README
  README.md
Labels: documentation

Enable Dependabot
  .github/dependabot.yml
Labels: none

lint fixes
  .golangci.yml
  main.go
Labels: none

Allow Dependabot to run GH Actions
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/label.yml
  Makefile
Labels: build

Update to Go 1.17
  Dockerfile
  go.mod
  go.sum
Labels: dependencies

Update Dockerfile
  Dockerfile
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

Apply suggestions from code review
  Dockerfile
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

fix lint errors
  .golangci.yml
  main.go
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

Update Dockerfile
  Dockerfile
Labels: none
